[Unit]
Description=Chrony Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/chrony_exporter --web.listen-address=:{{ chrony_exporter_port }}

[Install]
WantedBy=multi-user.target
